@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
:root{
    --backdrop-card-color: rgba(48, 48, 48, 0.54);
    --btn-color: #e6533c;
    --text-color: #ffffff;
    --secondary-text-color: #838383;
    --bg-secondary-color: #222222;
    --bg-body-color: #000000;
}
body{
    max-width: 95%;
    border: 1px solid var(--text-color);
    margin: 0 auto;
    background-color: var(--bg-body-color);
}

/* ============================ */
.header-section{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    padding: 3rem 8%;
}
.navber{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navber .logo{
    color: var(--btn-color);

}